# Train Test Validation Split

In [1]:
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_pickle("dataframes/pre-processed.pkl")

In [3]:
df.describe()

,flat_type,town_ANG MO KIO,town_BEDOK,town_BISHAN,town_BUKIT BATOK,town_BUKIT MERAH,town_BUKIT PANJANG,town_BUKIT TIMAH,town_CENTRAL AREA,town_CHOA CHU KANG,...,region_NORTH,region_NORTH-EAST,region_WEST,longitude,latitude,distance_from_cbd,floor_area_sqm,median_storey,remaining_lease,adjusted_price
count,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,...,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,878934.000000,8.789340e+05
mean,3.029937,0.056662,0.073350,0.023646,0.047774,0.034543,0.030360,0.002784,0.007125,0.041872,...,0.162680,0.191902,0.246707,103.839943,1.362178,11.356482,96.220921,7.658251,0.822783,5.787542e+05
std,0.944329,0.231195,0.260711,0.151943,0.213287,0.182619,0.171575,0.052691,0.084106,0.200297,...,0.369074,0.393796,0.431095,0.073761,0.041489,4.245421,25.725274,4.781676,0.105561,2.232878e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,103.685228,1.270380,0.768092,31.000000,2.000000,0.434343,3.337736e+04
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,103.773467,1.334339,8.607264,73.000000,5.000000,0.757576,4.110539e+05
50%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,103.843782,1.355282,11.839529,93.000000,8.000000,0.838384,5.437500e+05
75%,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,103.898887,1.382470,14.589817,114.000000,11.000000,0.909091,6.886040e+05
max,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,103.987805,1.457071,19.627371,307.000000,50.000000,1.020202,2.105952e+06

In [3]:
# Shuffle and split dataset randomly into 80% training and 20% test, then split training into 80% training and 20% validation
train, test = train_test_split(df, test_size=0.2, random_state=42)
train, val = train_test_split(train, test_size=0.2, random_state=42)

In [4]:
# Validate that the split is correct
print("Train size: ", len(train))
print("Validation size: ", len(val))
print("Test size: ", len(test))

# Validate that the split is a representative sample of the original dataset
print("Train mean: ", train["adjusted_price"].mean())
print("Validation mean: ", val["adjusted_price"].mean())
print("Test mean: ", test["adjusted_price"].mean())

Train size:  562517
Validation size:  140630
Test size:  175787
Train mean:  578908.6990256566
Validation mean:  578811.5229829467
Test mean:  578213.7675092777

In [5]:
# Split into X and y
X_train = train.drop(columns=["adjusted_price"])
y_train = train["adjusted_price"]

X_val = val.drop(columns=["adjusted_price"])
y_val = val["adjusted_price"]

X_test = test.drop(columns=["adjusted_price"])
y_test = test["adjusted_price"]

In [6]:
X_train.to_pickle("dataframes/x-train.pkl")
y_train.to_pickle("dataframes/y-train.pkl")

X_val.to_pickle("dataframes/x-val.pkl")
y_val.to_pickle("dataframes/y-val.pkl")

X_test.to_pickle("dataframes/x-test.pkl")
y_test.to_pickle("dataframes/y-test.pkl")